# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
build/
dist/

# Editor-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
